<div class="row-index">
	<div class='col-sm-6 col-lg-8 offset-lg-2'>
		<h4 class="page-title"> 
		<button class="button" type="button" data-hover="Share yours." data-active="Share yours."><span>Diverse opinions matter.</span></button>
		</h4>
	</div>
  <%= render @posts %> 
</div>
