<div class="col-sm-6 col-lg-10 offset-lg-1"> 
	<h1 class="about-header">About.</h1>
	<p class="updated">Updated last: Decmeber 2, 2016</p>
	<p class="about-blurb"> Oped's mission is to create a place where all opinions have an equal platform to be discussed and debated. Social media has created an echo chamber that has made it increasingly harder to hear views and opinions that differ from our own. Being exposed to diverse thought is important. It expands our minds, and makes us more empathetic. We are all human, and we all can have ideas and opinions that we can share and learn from. Oped encourages that exchange, and as long as you follow our <a target="_blank" href="/guidelines">guidelines</a>, you will never be censored for your opinions. </p>
	<div class="quote">
		<i>"</i>
		<div class="quote_body">
			I never considered a difference of opinion in politics, in religion, in philosophy, as cause for withdrawing from a friend.
			<strong>- Thomas Jefferson</strong>
		</div>
	</div>
</div>