<div class="col-sm-6 col-lg-8 offset-lg-2"> 
	<h1 class="about-header">About.</h1>
	<p class="updated">Updated last: Decmeber 2, 2016</p>
	<p class="about-blurb"> OpEd's mission is to create a place where all opinions have an equal platform to be discussed and debated. Social media has created an echo chamber of thought that has made it increasingly harder to hear views and opinions that differ from our own. Being exposed to diverse thought is important. It expands our understanding of different topics, and increases our empathy of others. We are all human, and we all can have ideas and opinions that we can share and learn from. OpEd encourages that exchange, and as long as you follow our <a target="_blank" href="/guidelines">guidelines</a>, you will never be censored for your opinion. </p>
</div>