<div class="row">
	<div class="row push-right">
	<%= link_to "new post", new_authors_post_path, class: "btn btn-secondary" %>
	</div>
	<br>
	<table class="table table-stripped">
  	<tr>
  		<th colspan="5">your posts</th>
  	</tr>
  	<%= render @posts %> 
  </table>
</div>
