.author-block {
	margin-top: 50px; 
}

.avatar-image {
	display: block;
	margin-right: auto;
	margin-left: auto;
} 

.author_name {
	margin-top: 20px;
	text-align: center;

}

.author_description {
	margin-top: 15px;
	text-align: center;
	font-style: italic;
}