

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  right: 0;
  left: 0;
  height: 200px;
  background-color: white; 
  box-shadow: 0 1.5px 1.5px  #f4f6f6;
}

#site-footer {
	padding: 30px;
	clear: both;
}

#site-footer .nav {
	width: 50%; 
	float: right;
	text-align: right;
}

#site-footer .nav a {
	color: #65A2EA;
	text-decoration: none;
	font-size: 16px;
	float: right;
	padding-left: 20px;
} 

.nav a:visited {
    color: #65A2EA !important;
}

.nav a:active {
    color: #65A2EA !important;
}

.nav a:hover {
    color: #1D7BE8 !important;
}


.about-site {
 	
 	display: inline;
} 
.contact {
	display: inline;
}

.join {
	display: inline;
}

#site-footer .row {
	width: 50%;
	display: block;

} 

#site-footer .blurb {
	width: 50%;
	display: inline;
	font-size: 14px;
	color: #373a3c;

} 

#site-footer .bottom {
	margin-top: 10px;
	margin-bottom: none;
	bottom: 0;
	position: absolute;
	text-align: center;
	font-size: 14px;
	color: #373a3c;
	width: calc(100% - 30px);
} 
.bottom {
	font-family: 'Montserrat-Light', sans-serif;
}
.bottom a{
	color: #65A2EA;
	text-decoration: none;
} 

.bottom a:visited {
    color: #65A2EA !important;
}

.bottom a:active {
    color: #65A2EA !important;
}

.bottom a:hover {
    color: #1D7BE8 !important;
}


.colored-ed {
	color: #65A2EA;
}

@media screen and (min-width: 10em) and (max-width: 48em){
  .footer {
    height: 50px;
    background-color: transparent;
  } 
  .nav {
  	display: none;
  }

  #site-footer .blurb {
  	display: none;
  }
  #site-footer .bottom {
  	display: none;
  }
}
