.moving_button {
    display: inline-block;
    position: relative;
    margin: 1em;
    padding: 0.67em;
    /*border: 100%;*/
    overflow: hidden;
    border: 2px solid #f73859;
    background-color: #f73859;
    text-decoration: none;
    font-size: 45px;
    text-align: center;
    outline: none;
    color: white;
    background: transparent;

}


.moving_button span {
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
    background-color: #f73859;

}

.moving_button:before,
.moving_button:after {
    content: '';
    position: absolute;
    top: 0.67em;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: .4s,opacity .6s;
    -moz-transition: .4s,opacity .6s;
    -o-transition: .4s,opacity .6s;
    transition: .4s,opacity .6s;
    background-color: #f73859;
}

/* :before */

.moving_button:before {
    content: attr(data-hover);
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
    background-color: #f73859;
}

/* :after */

.moving_button:after {
    content: attr(data-active);
    -webkit-transform: translate(150%,0);
    -moz-transform: translate(150%,0);
    -ms-transform: translate(150%,0);
    -o-transform: translate(150%,0);
    transform: translate(150%,0);
    background-color: #f73859;

}

/* Span on :hover and :active */

.moving_button:hover span,
.moving_button:active span {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
    background-color: #f73859;
}

/*  
    We show :before pseudo-element on :hover 
    and :after pseudo-element on :active 
*/

.moving_button:hover:before,
.moving_button:active:after {
    opacity: 1;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
    background-color: #f73859;
}

/* 
  We hide :before pseudo-element on :active
*/

.moving_button:active:before {
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    background-color: #f73859;
}

.moving_button:link {
  color: white;
  font-weight: bold;
  text-decoration: none;
  background-color: #f73859;

}

.moving_button:visited {
    font-weight: bold;
    color: white;
}


.moving_button:hover {
    font-weight: bold;
    color: white;
    text-decoration: none;
}


.moving_button:active {
    font-weight: bold;
    color: #f73859;
}