.article-block {
  position: relative;
  display: table;
  width: 100%;

  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #e4e8e6;
} 


.article-image {
  z-index: 1000;
  float: left;
  width: 33%;
  position: relative;
  margin-right: 1em;
  display: inline;
 }
  
.image {
  z-index: 1000;
  height: auto;
  display: inline;
  width: 100%;
  border: 0;

}
.article-block {
  font-size: 1.5em;
  color: #4c4e4d;
  line-height: 1.04;
  letter-spacing: -.028em;
}

h3.article-title{
  font-size: 1.5em;
  color: #4c4e4d;
  line-height: 1.04;
  letter-spacing: -.028em;
  text-decoration: none;
} 
.article-title a {
  text-decoration: none;
}




.article-byline {
  float: left;
  font-size: 0.8em;
  color: rgba(0,0,0,.44);
  margin: 0;
  display: block;
}

.published-by {
  font-style: italic;
  display: inline;
  font-size: 14px;
}
.separator {
  display: inline;
  font-size: 14px;
}
.published-date {
  font-style: italic;
  display: inline;
  font-size: 14px;
} 

.article-blurb {

  float: left;
  font-size: 14px;
  margin-bottom: 0.5;

}

.addthis_inline_share_toolbox {
  padding-top: 10px;
}

.article-block a:visited {
    color: #373a3c!important;

}

.article-block a:active {
    color: #373a3c !important;
}

.article-block a {
    color: #373a3c !important;
}

.article-content {
  font-size: 18px;
}

/*form*/
.field-label {
  font-family: 'Montserrat-Light', sans-serif;
}

@media screen and (min-width: 34em) {
  .posts.index .card {
    height: 440px;
  }
}

/* Medium. Above 48em (768px) */
@media screen and (min-width: 48em) {
  .posts.index .card {
    height: 420px;
  }
}

/* Extra large. Above 75em (1200px) */
@media screen and (min-width: 75em) {
  .posts.index .card {
    height: 415px;
  }
}