/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "navbar";
@import "footer";
@import "posts";
@import "until";
@import "avatar";
@import "moving_button";
@import "about";
@import "author_profile_page";

::selection {
  color: #fff;
  background: #65A2EA; /* WebKit/Blink Browsers */
}
::-moz-selection {
  color: #fff;
  background: #65A2EA; /* Gecko Browsers */
}

html {
  
  position: relative;
  min-height: 100%;
} 


body {
  /* Margin bottom by footer height */
  padding-top: 7em;
  margin-bottom: 20em;
  background-color:  #f9f9f9;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

p {
      font-family: 'Lora', serif;
      font-size: 20px;
      line-height: 1.58;
      letter-spacing: -.003em;
}




