
<h1 class="author_name">profile page for <%= @author.name %></h1>
<%= avatar_for(@author) %>
<%= @author.description %>
<%if current_author == @author %>
<%= link_to "Edit", edit_author_path(@author)%>
<% end %>