<footer class="footer">
	<div id="site-footer">
		<ul class="nav">
			<li>
				<a href="" class="about">About</a>
			</li>
			<li>
				<a href="" class="contact">Contact</a>
			</li>
			<li>
				<a href="" class="join">Become a writer</a>
			</li>
		</ul>

		<!-- <ul class="social">
			<li>
				<a href="" class="facebook"></a>
			</li>
			<li>
				<a href="" class="twitter"></a>
			</li>
		</ul> -->

		<div class="about">
			<a href="" class="brand">OpEd</a>
			<span class="blurb">Diverse opinions matter. OpEd was created as a place to give all opinions an equal platform to be discussed and debated. While we encourage an open forum, the opinions expressed on this site do not necessarily reflect our own.</span>
		</div>
		<ul class="bottom"></ul>
	</div>
</footer>