<footer class="footer">
	<div id="site-footer">
		<ul class="nav">
			<li>
				<a href="mailto:inquiries@oped.io" class="contact">Contact</a>
			</li>
			<li>
				<a href="/about" class="about-site">About</a>
			</li>
			
			<li>
				<a target="_blank" href="https://form.jotform.com/63356338782162" class="join">Share your opinion</a>
			</li>
		</ul>

	<!-- 	<ul class="social">
			<li>
				<a href="" class="facebook">facebook</a>
			</li>
			<li>
				<a href="" class="twitter">twitter</a>
			</li>
		</ul> -->

		<div class="row">
			<span class="blurb"> <b>Op</b><b class="colored-ed">ed</b> was created as a place to give all opinions an equal platform to be discussed and debated. However, the opinions expressed on this site do not necessarily reflect our own.</span>
		</div>
		<p class="bottom">Created in 2016 by <a target="_blank" href="http://www.davidciaffoni.com">David Ciaffoni</a> in San Francisco, CA.</p>
	</div>
</footer>